.start-screen{
    background-color: #404040;
    width: 100%;
    max-width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    > img{
        height: 100vh;
        max-width: 100%;
        object-fit: cover;
    }
}

.start-label-box{
    position: absolute;
    left:0;
    right: 0;
    bottom: 80px;
    display: flex;
    justify-content: center;

    >img {
        width: 40vw;
        height: auto;
        transition: all 150ms;
        &:hover{
            filter: brightness(1.2);
            transition: all 150ms;
            cursor: pointer;
        }
    }
}